@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  font-family: 'Nanum Gothic', sans-serif;
  /* font-family: 'Noto Sans KR', sans-serif; */
}

.container {
  padding: 20px;
  margin: 40px auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.container h2 {
  font-size: 18px;
  padding: 0;
  margin: 10px 0;
  font-weight: normal;
}

.container h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 32px;
  font-weight: 900;
  padding: 0;
  margin: 0 0 30px 0;
}

.container p {
  font-size: 14px;
  line-height: 2em;
  margin: 0 0 0 40px 0;
}

.container p span {
  background-color: rgba(135, 206, 235, 0.3);
}

.flex {
  display: flex;
  margin-top: 10px;
}

input,
button {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0 0 30px 0;
}

input[type='text'] {
  width: 320px;
  outline: none;
}

.search-btn {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.clear-btn {
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
}

.result-heading h2 {
  font-weight: 600;
}

.resultSubHead {
  margin: 20px 0;
}

.resultItem {
  margin: auto;
  font-size: 14px;
  width: 100%;
  padding: 40px 0;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: relative;
  box-shadow: var(--box-shadow);
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.detail {
  position: absolute;
  background-color: rgba(135, 206, 235, 0.6);
  padding: 7px;
  right: 4%;
  top: 8%;
}

.addr {
  margin-bottom: 8px;
  font-size: 13px;
}

@media screen and (max-width: 500px) {
  .container p span {
    display: block;
  }

  .container p span.spacing {
    margin-top: 16px;
  }
}

@media screen and (max-width: 360px) {
  .container p {
    font-size: 12px;
  }

  input[type='text'] {
    width: 100%;
    outline: none;
  }

  .resultItem {
    margin: auto;
    font-size: 14px;
    width: 100%;
    padding: 40px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position: relative;
  }

  .addr {
    font-size: 12px;
  }
}
